.selector {
    display: flex;
    flex-direction: column;

    gap: var(--space-4);
}

.selector__title {
    padding: 0 var(--space-12);

    color: var(--color-text-secondary);
}

.selector__input {
    padding: var(--space-12);

    color: var(--color-text-secondary);

    border: 1px var(--color-border) solid;
    border-radius: var(--radius-sm);

    transition: border-color ease-in-out var(--animation-normal), box-shadow ease-in-out var(--animation-fast);
}

.selector__input option[value=""] {
    color: var(--color-text-secondary);
    background-color: white;
}

.selector__input:hover {
    border: 1px solid var(--color-primary);
}

.selector__input:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}

.selector__option {

}