.transactions-list {
    display: flex;
    flex-direction: column;

    gap: var(--space-8);

    height: 100px;

    overflow: auto scroll;
}

.transactions-list--full {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;

    padding: var(--space-12);

    border: solid 1px var(--color-border);
    border-radius: var(--radius-xs);
}

.transaction-card {
    position: relative;

    display: flex;
    justify-content: space-between;
}

.transaction-card:not(:last-child)::after {
    content: "";

    position: absolute;

    width: 100%;
    height: 1px;

    inset: 35px 0 0;

    border: none;
    border-radius: var(--radius-xs);
    background: var(--color-border);

    align-self: center;

    cursor: pointer;
}

.transaction-card__value {

}

.transaction-card__date {
    color: var(--color-text-secondary);
}