.selector {
    position: relative;

    display: flex;
    flex-direction: column;

    gap: var(--space-2);
}

.selector__title {
    padding: 0 var(--space-12);

    color: var(--color-text-secondary);
}

.selector__input {
    height: 50px;

    padding: var(--space-12) var(--space-48) var(--space-12) var(--space-12);

    border: 1px var(--color-border) solid;
    border-radius: var(--radius-sm);

    box-sizing: border-box;

    transition: border-color ease-in-out var(--animation-normal), box-shadow ease-in-out var(--animation-fast);
}

.selector__drop_button {
    position: absolute;

    height: 30px;
    width: 30px;

    top: 50%;
    right: 10px;

    transform: translateY(-50%);
    background-color: transparent;

    border: 1px solid transparent;
    border-radius: var(--radius-sm);

    transition: border var(--animation-normal);

    cursor: pointer;

    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector__drop_button:hover {
    background-color: color-mix(in srgb, var(--color-primary) 10%, var(--color-surface));
}

.selector__drop_button img {
    transition: transform var(--animation-normal) ease;
}

.selector:has(.dropdown_menu-visible) .selector__drop_button img {
    transform: rotate(180deg);
}

.selector__input::placeholder {
    color: var(--color-text-secondary);
}

.selector__input:hover {
    border: 1px solid var(--color-primary);
}

.selector__input:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}

.selector:has(.selector__drop_button:hover) .selector__input {
    border-color: var(--color-primary);
}

.selector:has(.dropdown_menu-visible) .selector__input {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}

.dropdown_menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    top: 52px;

    width: 100%;
    padding: var(--space-8);

    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);

    background: var(--color-surface);

    box-shadow: var(--shadow-e2);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: var(--space-4);

    z-index: 1;
    transform: translateY(-6px);
    transition: opacity var(--animation-normal) ease,
    transform var(--animation-fast) ease,
    visibility 0s linear var(--animation-normal);
}

.dropdown_menu-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateY(0);
    transition: opacity var(--animation-normal) ease,
    transform var(--animation-fast) ease,
    visibility 0s;
}

.dropdown_menu--item {
    position: relative;

    padding: var(--space-2) var(--space-12);
    text-align: start;

    border: 1px solid transparent;
    border-radius: var(--radius-sm);

    background: transparent;

    color: var(--color-text-secondary);

    cursor: pointer;

    transition: background-color var(--animation-normal);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown_menu--item span {
    text-align: center;
}

.dropdown_menu--item:hover {
    color: var(--color-primary);
    background-color: color-mix(in srgb, var(--color-primary) 10%, var(--color-surface));
}

.dropdown_menu--item:not(:last-child)::after {
    position: absolute;
    inset: 35px 12px 0;

    content: "";

    width: calc(100% - 24px);
    height: 1px;

    border: none;
    border-radius: var(--radius-xs);
    background: var(--color-border);

    align-self: center;

    cursor: pointer;
}