.card-block {
    width: 100%;
    padding: var(--space-24);
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    box-shadow: var(--shadow-e1);
    background: var(--color-surface);

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;

    transition: opacity var(--animation-fast);
}

.card-block--welcome {
    margin: auto;
    gap: var(--space-16);
}

.card-block--overflow {
    gap: var(--space-16);

    height: 100%;
}

.card__title {
    display: flex;
    justify-content: space-between;
}

.card__title--wasted {
    display: flex;
    flex-direction: column;
}

.card__title-left {
    color: var(--color-text-secondary);
}

.card__title-right {
    color: var(--color-primary);
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);

    flex: 1 1 auto;
    min-height: 0;
}

.card__body__title {
    color: var(--color-primary);

    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    line-height: var(--font-line-sm);
}