.card-block {
    width: 100%;

    padding: var(--space-24);

    border-radius: var(--radius-lg);
    box-sizing: border-box;

    box-shadow: var(--shadow-e1);

    background: var(--color-surface);

    display: flex;
    flex-direction: column;
}

.card-block--welcome {
    margin: auto;
    gap: var(--space-16);
}

.card__title {
    display: flex;
    justify-content: space-between;
}

.card__title-left {
    color: var(--color-text-secondary);
}

.card__title-right {
    color: var(--color-primary);
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}